$herotext: #f6b10b;
$fontSizeP: 1.5vw;
$fontSizeH: 5vw;
$fontSizeH3: 2.2vw;

*,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding: 0 !important;
}

#home {
    height: fit-content;
    background: url(https://images.pexels.com/photos/2530342/pexels-photo-2530342.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2), no-repeat, fixed, center;
    background-size: cover;
}

nav {
    a {
        &:hover {
            color: $herotext !important;
        }

        &:active {
            color: $herotext !important;
        }
    }

    input {
        background-color: transparent !important;
        border-radius: 0 !important;
    }
}

.form-control {
    border: none !important;
    &:focus {
        border-color: transparent !important;
    }
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: $herotext;
}


.hero-text {
    width: 100vw;
    padding-top: 10%;

    h1 {
        font-weight: 800;
        font-size: $fontSizeH;
        color: $herotext;
        line-height: 95%;
    }
}

.btn {
    padding-right: 30px !important;
    padding-left: 30px !important;
    border-radius: 0 !important;
    color: white;

    a {
        &:hover {
            color: white;
        }
    }
}

.features {
    z-index: 0;
    .col-12 {
        height: 350px;
    }
}

.card {
    margin: auto;
    cursor: pointer;
    transition: 0.4s;
    background: rgba(0, 0, 0, 0.521);
    height: 300px;
    line-height: 3;
    color: white;

    h3 {
        font-weight: 600;
    }

    p {
        font-size: $fontSizeP;
        font-weight: 300;
        color: #cccccc;
    }

    img {
        height: 60px;
    }
}

.card:hover {
    transform: scale(0.9, 0.9);
}

#about {
    // height: 200vh;
    background: white;

    .bio-img {
        position: relative;

        .bio {
            position: absolute;
            text-align: center;
            bottom: 4em;
            padding: 2em;
            color: white;
            overflow: hidden;

            p {
                font-size: $fontSizeP;
                padding: 0 15%;
                font-weight: 300;
            }

            h3 {
                font-weight: 800;
                font-size: 24px;
            }
        }
    }

    .about-description {
        text-align: center;
        margin: auto;
        h3 {
            font-weight: 600;
            font-size: $fontSizeH3;
        }
        p {
            font-size: $fontSizeP;
            font-weight: 300;
        }

        .about-footer {
            margin-top: 10%; 
            padding: 20px; 
            background-color: #f2f2f2;
        }
    }
    .about_part_2 {
        h3 {
            font-weight: 600;
            font-size: $fontSizeH3;
        }
        p {
            font-size: $fontSizeP;
            font-weight: 300;
        }
    }

    .h-rule {
        margin: auto;
        width: 60%;
        padding-left: 20%;
    }
}

.check-list {
    ul {
        list-style: none;
        padding-left: 0;
        font-size: 18px;
    }
}

.deck {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;

    .cards {
        background: $herotext;
        color: white;
        height: 24rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        h3{
            font-weight: 800;
        }
        p {
            padding: 5%;
            font-size: 18px;
        }
        .card-img {
            &:hover {
                transform: scale(1.01, 1.01);
                transition: transform .2s ease;
            }
        }
    }
    .mission-card {
        color: black;
        background: white;
    }
}

.bg-basic, .btn_basic {
    background: #f9de9b;
}

.bg_light {
    background: #fefbf2;
}

.about__banner {
    // height: 400px;
    text-align: center;
    width: 100vw;
    margin-top: 10%;
    overflow: hidden;
    background: #f2f2f2;
    background: linear-gradient(rgba(66, 64, 64, 0.727), rgba(66, 64, 64, 0.7)), url("https://images.pexels.com/photos/2391/dirty-industry-stack-factory.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"), no-repeat;
    background-position: bottom;
}

hr {
    border: $herotext 5px solid;
    width: 100px;
}

.co_details {
    background: linear-gradient(rgba(66, 64, 64, 0.727), rgba(66, 64, 64, 0.7)), url("https://images.pexels.com/photos/2391/dirty-industry-stack-factory.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"), no-repeat;
    background-position: center;
    background-size: cover;
}
.building-company {
    height: 98vh;
    width: 100vw;

    .company_name {
        font-size: 6rem;
        color: #f2f2f2;
        font-weight: 800;
    }
    .company_tag {
        font-size: 1.5rem;
        color: #f2f2f2;
    }
    .thumbnail_container {
        background: white;
        margin-top: 1rem;
    }
    &_thumbnail{
        border-radius: 50%;
        height: 180px;
        width: 180px;
    }
}

.testimonials {
    // height: 60vh;
    background: #f2f2f2;
    margin: 10% 0;
    padding: 10% 0;

    .testimonial {
        // height: 300px; 
        background: white; 
        border-radius: 20px;

        &_image {
            height: 80px; 
            width: 80px; 
            border-radius: 50%;
        }
        &_name {
            font-weight: 800;
        }
        &_title {
            font-weight: 200;
        }
    }
}

.nav-link {
    color: black;
    font-weight: 800;
    font-size: 1.2vw;
}

.nav-link:focus, .nav-link:hover {
    color: $herotext;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: $herotext;
}

@media all and (max-width: 750px) {
    $fontSizeP: 18px;
    
    .hero-text {
        width: 100vw;
        padding-top: 30%;

        h1 {
            font-weight: 800;
            font-size: 3rem;
            color: $herotext;
        }
    }

    .thumbnail_container {
        .thumbnail_caption {
            font-size: 3vw !important;
        }
    }
}

@media (min-width: 600px) {
    .deck {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .deck {
        grid-template-columns: repeat(3, 1fr);
    }

    .thumbnail_container {
        width: 20vw;
    }
}

@media all and (max-width: 480px) {
    .hero-text {
        width: 100vw;
        padding-top: 30%;

        h1 {
            font-weight: 800;
            font-size: 2rem;
            color: $herotext;
        }
    }
    .thumbnail_container {
        .thumbnail_caption {
            font-size: 5vw !important;
        }
    }

    .features {
        flex-direction: column;
    }

    .card p {
        font-size: 4vw !important;
    }

    #about .bio-img .bio p {
        font-size: 4vw !important;
    }

    #about .about-description h3 {
        font-size: 4vw !important;
    }

    #about .about-description p {
        font-size: 3vw !important;
    }

    #about .about_part_2 h3 {
        font-size: 4vw !important;
        padding: 5%;
    }

    #about .about_part_2 p {
        font-size: 3vw !important;
        padding: 6%;
    }

    .nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
        font-size: 3vw !important;
    }

    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
        background-color: #fefbf2;
    }

    .bg-transparent {
        background-color: #fefbf2 !important;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 3vw !important;
    }
}