*,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#home {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: url(https://images.pexels.com/photos/2530342/pexels-photo-2530342.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2), no-repeat, fixed, center;
  background-size: cover;
}

nav a:hover {
  color: #f6b10b !important;
}

nav a:active {
  color: #f6b10b !important;
}

nav input {
  background-color: transparent !important;
  border-radius: 0 !important;
}

.hero-text {
  width: 100vw;
  padding-top: 10%;
}

.hero-text h1 {
  font-weight: 800;
  font-size: 4.5rem;
  color: #f6b10b;
}

.btn {
  padding-right: 30px !important;
  padding-left: 30px !important;
  border-radius: 0 !important;
  color: white;
}

.btn a:hover {
  color: white;
}

.features {
  z-index: 0;
}

.card {
  margin: auto;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: rgba(0, 0, 0, 0.521);
  height: 300px;
  line-height: 3;
  color: white;
}

.card h2 {
  font-weight: 600;
}

.card p {
  font-size: 18px;
}

.card img {
  height: 60px;
}

.card:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}

#about {
  background: white;
}

#about .bio-img {
  position: relative;
}

#about .bio-img .bio {
  position: absolute;
  text-align: center;
  bottom: 4em;
  padding: 2em;
  color: white;
}

#about .bio-img .bio h3 {
  font-weight: 800;
  font-size: 24px;
}

#about .about-description {
  text-align: center;
  margin: auto;
}

#about .h-rule {
  margin: auto;
  width: 60%;
  padding-left: 20%;
}

.check-list ul {
  list-style: none;
  padding-left: 0;
}

.check-list ul li {
  position: relative;
  padding-left: 1.5em;
}

.check-list ul li:before {
  content: ' ';
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  background: url("/src/img/check.svg") no-repeat;
}

.deck {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
}

.deck .cards {
  background-color: #f6b10b;
  color: white;
  height: 24rem;
}

.about__banner {
  text-align: center;
  width: 100vw;
  margin-top: 10%;
  overflow: hidden;
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(66, 64, 64, 0.727)), to(rgba(66, 64, 64, 0.7))), url("https://images.pexels.com/photos/2391/dirty-industry-stack-factory.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"), no-repeat;
  background: linear-gradient(rgba(66, 64, 64, 0.727), rgba(66, 64, 64, 0.7)), url("https://images.pexels.com/photos/2391/dirty-industry-stack-factory.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"), no-repeat;
  background-position: bottom;
}

hr {
  border: #f6b10b 5px solid;
  width: 100px;
}

.co_details {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(66, 64, 64, 0.727)), to(rgba(66, 64, 64, 0.7))), url("https://images.pexels.com/photos/2391/dirty-industry-stack-factory.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"), no-repeat;
  background: linear-gradient(rgba(66, 64, 64, 0.727), rgba(66, 64, 64, 0.7)), url("https://images.pexels.com/photos/2391/dirty-industry-stack-factory.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"), no-repeat;
  background-position: center;
  background-size: cover;
}

.building-company {
  height: 98vh;
  width: 100vw;
}

.building-company .company_name {
  font-size: 6rem;
  color: #f2f2f2;
  font-weight: 800;
}

.building-company .company_tag {
  font-size: 1.5rem;
  color: #f2f2f2;
}

.building-company .thumbnail_container {
  background: white;
  margin-top: 1rem;
}

.building-company_thumbnail {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}

.testimonials {
  background: #f2f2f2;
  margin: 10% 0;
  padding: 10% 0;
}

.testimonials .testimonial {
  background: white;
  border-radius: 20px;
}

.testimonials .testimonial_image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.testimonials .testimonial_name {
  font-weight: 800;
}

.testimonials .testimonial_title {
  font-weight: 200;
}

@media all and (max-width: 750px) {
  .hero-text {
    width: 100vw;
    padding-top: 30%;
  }
  .hero-text h1 {
    font-weight: 800;
    font-size: 3rem;
    color: #f6b10b;
  }
}

@media (min-width: 600px) {
  .deck {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .deck {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .thumbnail_container {
    width: 20vw;
  }
}

@media all and (max-width: 480px) {
  .hero-text {
    width: 100vw;
    padding-top: 30%;
  }
  .hero-text h1 {
    font-weight: 800;
    font-size: 2rem;
    color: #f6b10b;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */